# Ignore everything at root by default
/*

# But don't ignore these files/folders at root:
!/.gitignore
!/.agent/
!/.skaaa-ai/
!/README.md
!/LICENSE
!/CONTRIBUTING.md
!/docs/
!/wp-content/

# Now ignore everything under wp-content except our specific plugin/theme folders
/wp-content/*
!/wp-content/plugins/
!/wp-content/themes/

# Ignore all plugins except the Ska ones
/wp-content/plugins/*
!/wp-content/plugins/skaaa-no-code-design/
!/wp-content/plugins/skaaa-data-pro/
!/wp-content/plugins/skaaa-logic-engine/
!/wp-content/plugins/skaaai/
!/wp-content/plugins/release.js
!/wp-content/plugins/zip-all.js


# Ignore all themes except the Ska ones
/wp-content/themes/*
!/wp-content/themes/skaaa-canvas/

# Node modules inside plugins and themes should be ignored
**/node_modules/

# IDE/OS files
.DS_Store
.vscode/
Thumbs.db
.gemini/

# WP Generated / Log files
wp-content/debug.log
